<html>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script>window.jQuery || document.write('<script src="{{
	url_for('static', filename='js/jquery-3.1.1.min.js') }}">\x3C/script>')
	</script>
  </head>
  <body>
    <div>Created by: <a onClick="javascript:window.open('mailto:james.adam.moncrief@gmail.com', 'mail');event.preventDefault()" href="mailto:james.adam.moncrief@gmail.com">Adam Moncrief</a></div>
    {% block content %}{% endblock %}
  </body>
</html>
